<a href="https://colab.research.google.com/github/biolytic1996/python-learning1996/blob/master/99%E4%B9%98%E6%B3%95%E8%A1%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### For迴圈特色
### 如果今天要把座號1號到10號分別叫出來吃番薯

In [ ]:
for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(1,10):
  x=x+1 #1號吃不到番薯x=x+1
  print(x)

2
3
4
5
6
7
8
9
10

今天想叫1號到10號排排站吃番薯

In [ ]:
for x in range(1,11):
  print(x,end=',')
  x+=1

1,2,3,4,5,6,7,8,9,10,

3號烙賽，不要吃番薯

In [ ]:
for x in range(1,10):
  if x==3:
    continue
  print(x,end=',')
  x+=1

1,2,4,5,6,7,8,9,

3號烙賽，不要吃番薯,6號吃完智齒發作痛到休克，暫停吃番薯活動

In [ ]:
for x in range(1,10):
  if x==3:
    continue
  if x==6:
    break
  print(x,end=',')
  x+=1

1,2,4,5,

######For 迴圈來寫九九乘法表

In [ ]:
for x in range(1,10):
  for y in range(1,9):
    print('{0}*{1}={2:^4}'.format(x,y,x*y),end=' ')
  print( )

1*1= 1   1*2= 2   1*3= 3   1*4= 4   1*5= 5   1*6= 6   1*7= 7   1*8= 8
2*1= 2   2*2= 4   2*3= 6   2*4= 8   2*5= 10  2*6= 12  2*7= 14  2*8= 16
3*1= 3   3*2= 6   3*3= 9   3*4= 12  3*5= 15  3*6= 18  3*7= 21  3*8= 24
4*1= 4   4*2= 8   4*3= 12  4*4= 16  4*5= 20  4*6= 24  4*7= 28  4*8= 32
5*1= 5   5*2= 10  5*3= 15  5*4= 20  5*5= 25  5*6= 30  5*7= 35  5*8= 40
6*1= 6   6*2= 12  6*3= 18  6*4= 24  6*5= 30  6*6= 36  6*7= 42  6*8= 48
7*1= 7   7*2= 14  7*3= 21  7*4= 28  7*5= 35  7*6= 42  7*7= 49  7*8= 56
8*1= 8   8*2= 16  8*3= 24  8*4= 32  8*5= 40  8*6= 48  8*7= 56  8*8= 64
9*1= 9   9*2= 18  9*3= 27  9*4= 36  9*5= 45  9*6= 54  9*7= 63  9*8= 72

For 迴圈來計算大家的體重

In [ ]:
體重表=[10,20,30,40,50]
總重=0
for i in 體重表:
  總重=總重+i
  print('{0}'.format(總重))

print(總重)

10
30
60
100
150
150

for 算階乘

In [ ]:
time=1
for i in range(1,10):
  time=i*time
  print(time)

1
2
6
24
120
720
5040
40320
362880

While迴圈特色

In [ ]:
y=1
while y<=9:
  print(y,end=',')
  y+=1

1,2,3,4,5,6,7,8,9,

In [ ]:
y=1
while y<=9:
  for x in range(1,10):
    print(x,y,end=',')
    y+=1

1 1,2 2,3 3,4 4,5 5,6 6,7 7,8 8,9 9,

### while迴圈來寫九九乘法表

In [ ]:
x=1
while x<=9:
  y=1
  while y<=9:
    print('{0}*{1}={2:>2}'.format(x,y,x*y),end=' ')
    y+=1
  x+=1
  print()#換行

1*1= 1 1*2= 2 1*3= 3 1*4= 4 1*5= 5 1*6= 6 1*7= 7 1*8= 8 1*9= 9
2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
x=1
z=0
while x<=9:
  y=1
  while y<=9:
    print('{0}*{1}={2:^2}'.format(x,y,x*y),end=' ')
    y+=1
  x+=1
  z+=1
  print('第{}圈'.format(z))

1*1=1  1*2=2  1*3=3  1*4=4  1*5=5  1*6=6  1*7=7  1*8=8  1*9=9  第1圈
2*1=2  2*2=4  2*3=6  2*4=8  2*5=10 2*6=12 2*7=14 2*8=16 2*9=18 第2圈
3*1=3  3*2=6  3*3=9  3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27 第3圈
4*1=4  4*2=8  4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36 第4圈
5*1=5  5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45 第5圈
6*1=6  6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54 第6圈
7*1=7  7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63 第7圈
8*1=8  8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72 第8圈
9*1=9  9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81 第9圈

For 還可以簡易解題~~

In [ ]:
for x in range(10):
  for y in range(10):
    if x**2+5*y==9:
      print(x,y)

2 1
3 0

while 解題

In [ ]:
x=-10
while x<=100:
  x=x+1
  if x+8==10:
    print(x)

2

In [ ]:
30*2.54

76.2

In [ ]:
D=int(input('輸入距離公尺'))
x=D/176.2
if x>60:
  (min,sec)=divmod(x,60)
  print(min,round(sec,1))
print(x)

輸入距離公尺20000
1.0 53.5
113.50737797956867

['吃飯', '去全家', '睡覺']

In [ ]:
import random
todolist = ['吃飯','睡覺','去7-11','去全家']
week=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
for i in week:
  print('{0}{1}'.format(i,random.sample(todolist,1)),end=',')

Mon['去全家'],Tue['去7-11'],Wed['去全家'],Thu['去7-11'],Fri['睡覺'],Sat['睡覺'],Sun['去全家'],

In [ ]:
import random
todolist = ['吃飯','睡覺','倒垃圾','被趕出家門']
name=['darkcupid','suhorse','Cindy','Ana']
for i in name:
  print('{0}{1}'.format(i,random.sample(todolist,2)))

darkcupid['吃飯', '睡覺']
suhorse['倒垃圾', '被趕出家門']
Cindy['被趕出家門', '睡覺']
Ana['被趕出家門', '睡覺']

In [ ]:
from numpy import random as rd

ary = list(range(10))
rd.choice(ary, size=10, replace=True)

array([0, 0, 4, 1, 0, 8, 0, 8, 0, 7])

每個人指派一項不重複工作

In [ ]:
import random # 燒金紙
todolist = ['賣臭豆腐','顧店','趕鬼','耍啟']
people=['ANDY','ANA','HORSE','CINDY']
for i in people:
  wtf=random.sample(todolist,1)# wtf=[]
  print('{0}{1}'.format(i,wtf),end=',')
  todolist.remove(wtf[0])#wtf[0]:裡面的第一個元素

ANDY['顧店'],ANA['賣臭豆腐'],HORSE['耍啟'],CINDY['趕鬼'],

In [ ]:
def 星爆氣流斬(x,y):
  for a in range(1,x):
    for b in range(1,y):
      print('{0}*{1}={2:^2}'.format(a,b,a*b),end=' ')
    print()
  
星爆氣流斬(10,10)

1*1=1  1*2=2  1*3=3  1*4=4  1*5=5  1*6=6  1*7=7  1*8=8  1*9=9
2*1=2  2*2=4  2*3=6  2*4=8  2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3  3*2=6  3*3=9  3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4  4*2=8  4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5  5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6  6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7  7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8  8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9  9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

水仙花數

In [ ]:
def 阿姆斯特朗(N):
  str1=str(N)#N剛輸入時  還是數字 str(N) 把407變成字符串
  m=len(str1)#M=位元數
  sum=0
  for i in str1:
    sum=int(i)**m+sum #int才可運算
  if sum==N:
    print('True')
  else:
    print('False')

阿姆斯特朗(407)

True

In [ ]:
Narcissistic(369)

False

In [ ]:
def narc_find(x,y):
  listc=[]
  if x>1 and y>2:
    for N in range(x,y):
      str1=str(N)
      m=len(str1)
      sum=0
      for i in str1:
        sum+=int(i)**m
        if sum==N:
          listc.append(N)
  else:
    print('Wrong')
  return(listc)
 
narc_find(300,1000)

[370, 370, 371, 407]

In [ ]:
narc_find(2,10)

2
3
4
5
6
7
8
9

In [ ]:
with open('c:\\0913.txt','w')as f:
  f.write('你好阿啟')